//Color
$color-white:#fff;
$color-grey:#232323;
// $color-orange:#ff6033;
// $color-green:#00b1b1;
$color-blue:#5474fd;
// $color-purple:#b07cf7;
//Fonts
$font-Josefin:'Josefin Sans', sans-serif;
// $font-Raleway:'Raleway',sans-serif;
$font-Aleo:'Aleo', serif;
//Path
$path-img: '../img/';