*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto;

    
}
 a{
     text-decoration: none;
     color:$color-white;
     font-family: $font-Aleo;
     
 }